.trim-image-to-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #999;
}

.list {
    list-style: none;
}

.center {
    text-align: center;
}