{% extends "base.html" %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Codememory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic"
                aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarBasic">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/mypage">Mypage</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-danger">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="card w-50 mb-3" style="margin: auto;">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p>--------------------------</p>
            <div id="detail"></div>
            <script>
                var markdown = {{ post.detail| tojson }};
                document.getElementById('detail').innerHTML =
                    marked.parse(markdown);
            </script>
            <style src='/static/markdown.css'></style>
            <p>--------------------------</p>
            <a class="btn btn-success" href="/home">戻る</a>
        </div>
    </div>
</div>
<!-- <div class="container">
    <br>
    <h3>{{ post.title }}</h3>
    <br>
    <div class="border container" id="detail" style="/static/markdown.css"></div>
    <script>
        var markdown = {{ post.detail| tojson }};
        document.getElementById('detail').innerHTML =
            marked.parse(markdown);
    </script>
    <style src='/static/markdown.css'></style>
</div> -->
{% endblock %}